
.anuncio > *{
    margin-left: 50px;
    margin-right: 10px;
}
.anuncio{
    padding-left: 20px;
    display: flex;
    flex: row;
    align-items: center;
    justify-content:  space-between;
    width: 40%;
    border: 3px solid gold;
    margin: 0 auto;
}


#title{
    color: blue;
}

