header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: #024959;
}

header h1{
    color: #F2c12e;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px;
    width: 32.67%;
    transition: .3s;
}

.resultsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card img{
    margin: 0 10px;
}

.card:hover{
    cursor: pointer;
    background-color: rgb(255, 215, 0,0.4);
}

.productInfos{
    margin-left: 5px;
}

.productInfos>:first-child{
    font-weight: bold;
}

.navbar {
    list-style: none;
    display: flex;
    background-color: transparent; 
    justify-content: center;
}

.navbar li {
    margin: 0 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    background-color: transparent;
    margin: 0px 10px;
    transition: .4s;
}

.navbar a:hover{
color: gold;
}

.navbar li:hover {
    background-color: rgba(0, 123, 255, 0.2); 
}


input[type="text"], input[type="tel"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mid-page-div{
    width: 40%;
    margin: 50px auto;
    border: solid 2px black;
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 700px) {
    .mid-page-div{
        width: 80%;
    }

}

@media (max-width: 1800px) {

    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 5px;
        width: 48%;
        transition: .3s;
    }
}


@media (max-width: 670px) {

    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 5px;
        width: 98%;
        transition: .3s;
    }



}


@media (max-width: 480px) {


    .navbar {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        justify-content: center;
    }
}




fieldset{
    border: none;
}

#collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 2px hidden black;
    border-radius: 5px;
}

main{
    margin: 30px;
}

.announceHeader{
    text-align: center;
    background-color: rgb(140, 140, 194);
    color: yellow;
    font-weight: bold;
}

#search-buttons{
    display: flex;

}

#search-buttons button{
    margin: 0px 5px;
}