main {
    display: flex;
    justify-content: center; 
    height: 100vh;         
  }

.anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    height: fit-content;
    max-height: 90%;
    padding: 20px 20px;

  }

  .anuncio:hover {
    box-shadow: 0px 0px 30px rgba(235, 172, 1, 0.3);

  }

.anuncio img{
    width: 45%;
}

#title{
    color: blue;
}

@media (max-width: 750px){
    .anuncio img{
        width: 50vw;
    }
}

